{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Your uploads{% endblock %}</h1>
{% endblock %}

{% block content %}
<h1>Your Uploads</h1>

<table class="table">
    <thead class="thead-light">
        <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for dict_item in data %}
            <tr>
                {% for value in dict_item.values() %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>  
{% endblock %}
